<%= form_for(@raider) do |f| %>
  <% if @raider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raider.errors.count, "error") %> prohibited this raider from being saved:</h2>

      <ul>
      <% @raider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
  </div>
  <div class="form-group">
    <%= f.label :lastName %>
    <%= f.text_field :lastName, class:"form-control", placeholder: "Last name" %>
  </div>
  <div class="form-group">
    <%= f.label :rut %>
    <%= f.text_field :rut, class:"form-control", placeholder: "RUT" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class:"form-control", placeholder: "email@example.com" %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :acceptedTerms %> <strong>Acepts terms and conditions</strong>
    </label>
  </div>

  <%= f.submit class:"btn btn-default" %>
  <%= link_to 'Cancel', raiders_path, class: "btn btn-primary" %>

<% end %>
