<!-- Modal (Terms and Conditions) -->
<div class="modal fade" id="tcModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Términos y Condiciones de Parque Las Palmas</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">
          <strong><u>Contrato de Exención de Responsabilidad y Aceptación del Reglamento.</u></strong>

        </p>
        <p>
          Este contrato de exención de responsabilidad, renuncia de acciones y aceptación de las Condiciones Generales de Uso (en adelante el “Contrato”) por y entre  (el “Visitante”) por una parte; y por la otra <strong>“Comercial Parque Las Palmas de Leyda Limitada”</strong>, en adelante “Parque Las Palmas”.
        </p>
        <p>
          <strong>Actividades no permitidas en General.</strong>
        </p>
        <p>
          Al interior del parque está estrictamente prohibido:
          <ol>
            <li>Circular en auto, moto, bicicleta y a pie, en caminos y senderos  que no estén especialmente habilitados. </li>
            <li>La movilización a través de motos en lugares no habilitados, hacer “wheelies” o cualquier tipo de acrobacias en los caminos del Parque.</li>
            <li>En las zonas que tengan lagunas, tranques o quebradas, está prohibido ingresar y bañarse. </li>
            <li>Encender fuego en cualquier lugar del parque, que se encuentre fuera del perímetro designado para tal efecto en la zona de quinchos. Asimismo se prohíbe fumar en cualquier zona del Parque debido a la alta posibilidad de incendio.</li>
            <li>Cazar y/o pescar, ni causar cualquier tipo de daño a la flora y fauna.</li>
            <li>Acampar.</li>
            <li>Botar basura en lugares no establecidos. Se prohíbe arrojar desperdicios o basura en todo el recinto, salvo en los lugares especialmente habilitados (tienda y zona de reciclaje). Se sancionará al piloto cuyos acompañantes también arrojen desperdicios o basura en lugares no habilitados. Cada piloto y sus acompañantes deberá acumular sus desperdicios en bolsas de basuras que deberán llevarse del recinto. Los pilotos y sus acompañantes deben llevarse todo lo que traen al circuito.</li>
            <li>La ingesta de <strong>alcohol y drogas</strong> dentro del Parque.</li>
            <li>Los vehículos y motos no pueden superar los 15 km/h en los caminos interiores del Parque.</li>
          </ol>
        </p>
        <p>
          <strong>Reglas para los deportistas en general:</strong>
          <ol>
            <li>
              <strong>Bicicletas</strong>
              <ul>
                <li>Es obligatorio el uso de casco y se recomienda utilizar rodilleras, guantes, coderas y cualquier protección que te ayude a evitar lesiones.</li>
                <li>Respetar el sentido del sendero.</li>
                <li>No crear líneas nuevas.</li>
                <li>Antes de encarar un salto, chequear que nadie esté parado en la recepción.</li>
                <li>No te detengas en una zona de recepción.</li>
                <li>No sobrepases tus propios límites, debes elegir bien los circuitos y saltos de acuerdo tu nivel.</li>
                <li>Deja una distancia importante entre cada ciclista al momento de bajar.</li>
                <li>Siempre mantente informado de las pistas con el equipo a cargo del Parque.</li>
                <li>Conduce y mantente a la defensiva y no causes problemas.</li>
                <li>Esta prohibido volver a subir por el sendero de bajada para repetir saltos o zonas especificas.</li>
              </ul>
            </li>
            <li>
              <strong>Motos</strong>
              <ul>
                <li>Para entrar a las pistas cada piloto debe estar perfectamente equipado, con casco, botas, guantes y protecciones debidamente homologados. El pase debe ir puesto obligatoriamente en lugar visible.</li>
                <li>Queda prohibido circular en sentido contrario, cruzar y/o detenerse dentro de la pista.</li>
                <li>La entrada y salida de los pilotos al circuito debe ser únicamente por las vías señaladas.</li>
                <li>La salida se debe indicar a los demás pilotos con el brazo izquierdo en alto.</li>
                <li>Está estrictamente prohibido derramar bencina, aceite,  coolant o cualquier tipo de fluido en el suelo del Parque.</li>
                <li>La velocidad de transito de las motos en lugares que no sean las pistas no puede superar los 15 km/h.</li>
                <li>Se prohíbe el ingreso a zonas restringidas y lugares que no sean las pistas de Motocross o especiales habilitadas por el Parque. </li>
                <li>Conducir y mantenerse a la defensiva, sin causar problemas.</li>
                <li>Tener extremo cuidado con la maquinaria de preparación de las pistas.</li>
                <li>Se exige ser respetuoso con los demás visitantes del Parque .</li>
                <li>Los pilotos deben circular con velocidad moderada. En general, los pilotos y sus acompañantes deben respetar el medio ambiente, no contaminar, y respetar al resto de los otros deportistas, manteniendo una conducta prudente y respetuosa en todo momento. Cualquier acto no deportivo, será castigado automáticamente con la expulsión del Parque.</li>
              </ul>
            </li>
          </ol>
        </p>
        <p>
          La Administración del Parque, y demás dependientes están especialmente facultados para desalojar del Parque a todo aquel que contravenga alguna de las normas previamente enunciadas. 
        </p>
        <p>
          <strong>Eventos especiales. </strong>
        </p>
        <p>
          Se podrá limitar el acceso al Parque a determinadas personas, en caso que un evento especial se realice en sus dependencias y así le sea solicitado por el organizador del evento. 
        </p>
        <p>
          <strong>Capacidad máxima del Parque. </strong>
        </p>
        <p>
          El Parque cuenta con una capacidad máxima de visitas diarias, por lo que en caso de exceso de dicha capacidad, la Administración podrá limitar el acceso a las dependencias del Parque. Sin perjuicio de lo anterior, en su calidad de parque privado, la Administración se reserva el derecho de admisión por cualquier otro motivo. 
        </p>
        <p>
          <strong>Ingreso.</strong>
        </p>
        <p>
          La administración del Parque las Palmas se reserva el derecho de admisión a los lugares y cerrarlos por mantención, mal tiempo u otra razón por la cual la administración estime necesario. 
        </p>
        <p>
          Con el fin de que se le permita ingresar y/o visitar a cualquier título, y asimismo utilizar las dependencias, tanto muebles como inmuebles, que sean de propiedad directa o indirecta del Parque Las Palmas, el Visitante viene en Liberar al mismo de toda Responsabilidad, y en aceptar en términos absolutos las condiciones generales de uso, declarando lo siguiente:
        </p>
        <p>
          <strong>Primero</strong>
        </p>
        <p>
          i) El Visitante por el presente instrumento declara que él y las personas que se encuentran bajo su dependencia y cuidado, son físicamente aptas y no tienen condiciones de salud o cualquier tipo de problema que impida su ingreso y/o visita a las Propiedades del Parque Las Palmas. Asimismo, el Visitante reconoce que su visita y/o ingreso comprende actividades que son inherentemente peligrosas y extenuantes, incluyendo a modo ejemplar y sin que implique limitaciones de ninguna clase, motocross, mountain bike, caminatas entre otros.
        </p>
        <p>
          ii) Para los propósitos de este contrato, la visita y/o ingreso se entenderá desde que el Visitante ingrese al Parque Las Palmas luego de pagar el respectivo acceso en su forma regular.
        </p>
        <p>
          iii) No se permitirá el acceso al Parque a los menores de 18 años que no estén acompañados de un adulto responsable de su cuidado.
        </p>
        <p>
          iv) El Visitante a nombre propio y de los demás Liberadores de Responsabilidad, por el presente instrumento otorga y declara firmemente, de manera total y permanente, la liberación de responsabilidad, renuncia de acciones y pactos de no accionar contra Parque Las Palmas, ni contra cualquiera de sus ejecutivos, directores, administradores, miembros, oficinistas, empleados, agentes y representantes (conjuntamente denominados como “Liberados de Responsabilidad”) de y por cualquier acción, por pérdida o responsabilidad que puedan acudirle a los Liberadores de Responsabilidad, y que hayan podido surgir, directa o indirectamente, por retrasos, condiciones climáticas, u otros eventos de fuerza mayor, incluyendo solo a modo referencial: incendios, inundaciones, terremotos, tormentas, u otros desastres naturales; daños corporales, muerte, daños a la propiedad o robo, incluso causados por algún grado de negligencia de los Liberados de Responsabilidad; o condiciones climáticas, bajas temperaturas, y otras construcciones artificiales, o cualquier defecto de las Propiedades.
        </p>
        <p>
          v) Los Liberadores de Responsabilidad reconocen la inherente peligrosidad que tienen algunas de la actividades en las cuales podrán participar en el ingreso y/o visita a las Propiedades, y de manera voluntaria y expresa asumen todos los riesgos aparejados, entre los que se pueden mencionar: la muerte, daños corporales, daños en la propiedad, sean generados por la visita y/o ingreso, ocupación y uso de las Propiedades, aún cuando concurra algún grado de negligencia de los Liberados de Responsabilidad, o cualquier defecto o falla de las Propiedades. Además, los Liberadores de Responsabilidad declaran encontrarse en conocimiento de que la visita y/o ingreso y todas las actividades relacionadas a éste se sitúan en lugares remotos con adversas condiciones climáticas, alejados de centros médicos o establecimientos similares, como asimismo, que están en conocimiento que no habrá médicos presentes durante todo el tiempo que dure su visita y/o ingreso.
        </p>
        <p>
          vi) El Visitante se obliga con los Liberados de Responsabilidad a garantizar, defender y mantenerlos protegidos de y contra todas las demandas, reclamos, denuncias, declaraciones, acciones o pretensiones, gravámenes, pérdidas, daños, deudas, indemnizaciones, obligaciones, responsabilidades, costos y gastos (incluyendo honorarios razonables de abogados, intereses, multas, y todas las cantidades pagadas razonablemente por la investigación, la defensa o pago de cualquiera de los anteriores, e incluso no existiendo sentencia condenatoria, se comprenden aquellas acciones de terceros que hayan sido admitidas a juicio, y que entre otras comprenden demandas, reclamos y denuncias) y en general cualquier pronunciamiento en contra que puedan configurar un requerimiento de pago sobre cualquiera de los Liberados de Responsabilidad, directa o indirectamente, y que surjan o puedan haber surgido con motivo de la realización de la visita y/o ingreso, actividades, o la ocupación y uso de las Propiedades.
        </p>
        <p>
          vii) El Visitante autoriza al Parque Las Palmas a usar fotografías y videos en que cada uno de los visitantes pueda aparecer, para uso de marketing, publicidad, relaciones públicas, materiales promocionales, y/o en la página web del Parque Las Palmas.
        </p>
        <p>
          viii) El Visitante declara haber leído cuidadosamente el presente Contrato, comprendiendo detalladamente su contenido y celebrándolo como manifestación de su voluntad libre y espontánea. A su vez, reconoce la obligatoriedad legal de este instrumento. El Visitante entiende que la celebración de este contrato lo hace renunciar a importantes derechos que la ley le otorga, por lo que ninguna declaración, modificación o interpretación verbal, de cualquier tipo o cualquier persona, podrá modificar los derechos y defensas en él conferidos, sin perjuicio de los medios que la ley aplicable les franquee a los Liberados de Responsabilidad. El Visitante, declara su voluntad y reconoce que viene en celebrar el Contrato con los fines de extinguir y renunciar las acciones que puedan surgir de acuerdo a las condiciones establecidas en las cláusulas anteriores, y de liberar de responsabilidad en los términos señalados precedentemente, declarando que las estipulaciones contenidas en este instrumento deben interpretarse de la manera más amplia que sea posible.
        </p>
        <p>
          ix) Si cualquier parte del presente contrato fuera declarada nula o inaplicable, se establece desde ya que las demás cláusulas no perderán su validez y subsistirán las estipulaciones contenidas en ellas, resguardando la independencia de cada una de las partes.
        </p>
        <p>
          x) El Visitante por este acto declara que participará en las actividades del Parque Las Palmas y en la ocupación y uso de las Propiedades muebles e inmuebles, y que sus dependientes, hijos o pupilos, se entienden incorporados como Liberadores de Responsabilidad para los propósitos de este Contrato.
        </p>
        <p>
          xi) El presente Contrato y los derechos, deberes y obligaciones emanados del mismo, serán regidos íntegramente por la Ley de la República de Chile. Las partes expresamente acuerdan que cualquier duda, dificultad o disputa surgida entre las Partes de este Contrato o de sus modificaciones y adiciones relacionadas con la interpretación, cumplimiento, validez, celebración, terminación o resolución, o cualquier otra causa relacionada con el Contrato y las obligaciones en él estipuladas, se someterán al conocimiento y competencia de los Tribunales Ordinarios de Justicia de la ciudad de Santiago de Chile.
        </p>
        <p>
          <strong>Segundo.</strong>
        </p>
        <p>
          i) El Parque las Palmas es un parque privado que tiene por objeto generar espacios para fomentar la vida al aire libre, el turismo, el respeto por el medio ambiente y la naturaleza.
        </p>
        <p>
          Para el acceso al Parque es obligatorio ingresar mediante el acceso principal o boletería, pagar la boleta y adquirir la entrada respectiva.
Las motos y bicicletas podrán ser controladas en cualquier lugar del Parque Las Palmas. El rehusar la revisión o la exhibición del pase es causal de expulsión del lugar.
        </p>
        <p>
          El pase de ingreso es personal e intransferible y se encuentra prohibida su reventa y/o utilización por un tercero a cualquier título. No habrá derecho a reembolso del pase o a indemnización alguna por pérdida o no uso del mismo.
        </p>
        <p>
          ii) Cada visitante declara conocer y aceptar que es responsable del correcto uso de las instalaciones del Parque Las Palmas, por lo que se compromete a cumplir debidamente las siguientes normas, que contribuyen a la adecuada mantención del Parque y de la propia seguridad de los visitantes.
        </p>
        <p>
          EL VISITANTE DECLARA HABER LEÍDO CUIDADOSAMENTE EL CONTRATO, COMPRENDIENDO PLENAMENTE SU CONTENIDO. EL VISITANTE DECLARA ASIMISMO ESTAR EN CONOCIMIENTO QUE EL PRESENTE CONTRATO ES UNA RENUNCIA DE ACCIONES Y UNA LIBERACIÓN DE RESPONSABILIDAD A TRAVÉS DE UN CONTRATO LEGALMENTE CELEBRADO QUE, EN CONSECUENCIA, ES OBLIGATORIO PARA LAS PARTES.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= form_for(@raider) do |f| %>
  <% if @raider.errors.any? %>
    <div id="error-explanation" class="alert alert-danger alert-dismissible" role="alert">
      <ul>
      <% @raider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= "has-error" unless @raider.errors[:name].blank? %>">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
  </div>
  <div class="form-group <%= "has-error" unless @raider.errors[:lastName].blank? %>">
    <%= f.label :lastName, class: "control-label" %>
    <%= f.text_field :lastName, class:"form-control", placeholder: "Last name" %>
  </div>
  <div class="form-group <%= "has-error" unless @raider.errors[:rut].blank? %>">
    <%= f.label :rut, class: "control-label" %>
    <%= f.text_field :rut, class:"form-control", placeholder: "RUT" %>
  </div>
  <div class="form-group <%= "has-error" unless @raider.errors[:email].blank? %>">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, class:"form-control", placeholder: "email@example.com" %>
  </div>
  <div class="form-group <%= "has-error" unless @raider.errors[:birthdate].blank? %>">
    <%= f.label :birthdate, class: "control-label" %>
    <%= date_select :raider, :birthdate, include_blank: true, start_year: 1970, class:"form-control" %>
  </div>
  <div class="form-group <%= "has-error" unless @raider.errors[:city].blank? %>">
    <%= f.label :city, class: "control-label" %>
    <%= select :raider, :city_id, City.order_for_select.collect {|c| [c.name, c.id] }, class:"form-control" %>
  </div>
  <div class="checkbox <%= "has-error" unless @raider.errors[:acceptedTerms].blank? %>">
    <label>
      <%= f.check_box :acceptedTerms %> <strong>Acepts terms and conditions</strong>
    </label>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#tcModal">
      View Terms and Conditions
    </button>

  </div>

  <%= f.submit class:"btn btn-primary" %>

  <% if user_signed_in? %>
    <%= link_to 'Back to list', raiders_url, class: "btn btn-default" %>
  <% else %>
    <%= link_to 'Cancel', root_url, class: "btn btn-primary" %>
  <% end %>
<% end %>
