<%= form_for(@raider) do |f| %>
  <% if @raider.errors.any? %>
    <div id="error-explanation" class="alert alert-danger alert-dismissible" role="alert">
      <ul>
      <% @raider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= "has-error" unless @raider.errors[:name].blank? %>">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
  </div>
  <div class="form-group <%= "has-error" unless @raider.errors[:lastName].blank? %>">
    <%= f.label :lastName, class: "control-label" %>
    <%= f.text_field :lastName, class:"form-control", placeholder: "Last name" %>
  </div>
  <div class="form-group <%= "has-error" unless @raider.errors[:rut].blank? %>">
    <%= f.label :rut, class: "control-label" %>
    <%= f.text_field :rut, class:"form-control", placeholder: "RUT" %>
  </div>
  <div class="form-group <%= "has-error" unless @raider.errors[:email].blank? %>">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, class:"form-control", placeholder: "email@example.com" %>
  </div>
  <div class="checkbox <%= "has-error" unless @raider.errors[:acceptedTerms].blank? %>">
    <label>
      <%= f.check_box :acceptedTerms %> <strong>Acepts terms and conditions</strong>
    </label>
  </div>

  <%= f.submit class:"btn btn-default" %>
  <%= link_to 'Cancel', root_url, class: "btn btn-primary" %>
  <%= link_to 'Back to list', raiders_url, class: "btn btn-default" if user_signed_in? %>

<% end %>
