<div class="row">
  <div class="col-md-12">
    <h1 class="page-header"> <small> <%= number_with_delimiter(@raiders.count) %> </small> Raiders
      <%= link_to(raiders_path(format: :xlsx), class: "btn btn-primary pull-right") do %>
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Excel
      <% end %>
      <span class="pull-right">&nbsp</span>
      <%= link_to(new_raider_path, class: "btn btn-primary pull-right") do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Raider
      <% end %>
      <span class="pull-right">&nbsp</span>
      <%= link_to "Home", root_url, class: "btn btn-default pull-right" %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= sortable "name" %></th>
            <th><%= sortable "lastName" %></span></th>
            <th><%= sortable "rut" %></th>
            <!-- <th>Email</th> -->
            <th>Last visited</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @raiders.each do |raider| %>
            <tr>
              <td><%= raider.name %></td>
              <td><%= raider.lastName %></td>
              <td><%= raider.rut_to_human %></td>
              <!-- <td><%= raider.email %></td> -->
              <td><%= raider.visits.blank? ? "-" : days_ago_or_today(raider.visits.order(:created_at).last.date) %></td>
              <td><%= link_to 'Details', raider %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate(@raiders) %>
    </div>
  </div>
</div>
