<div class="row">
  <p id="notice"><%= notice %></p>

  <h2><%= @raider.name %>&nbsp<%= @raider.lastName %></h2>

  <p>
    <strong>Rut:</strong>
    <%= @raider.rut_to_human %>
  </p>
  <p>
    <strong>Accepted terms:</strong>
    <%= @raider.acceptedTerms %>
  </p>

  <%= link_to 'Edit', edit_raider_path(@raider) %> |
  <%= link_to 'Back', raiders_path %>
</div>
