<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Parque Las Palmas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <div class="container">
        <% unless notice.nil? %>
        <!-- Alerts -->
          <% unless notice.include? "successfully registered" %>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p id="notice"><%= notice %></p>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>

        <%= yield %>
      </div>
  </body>
</html>
